services:
  frontend:
    build:
      target: runtime
    command: null
    volumes: []
    ports:
      - '3000:80'
    restart: always
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  backend:
    build:
      target: runtime
    command: node dist/main.js
    volumes: []
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 1G
        reservations:
          cpus: '0.25'
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  postgres:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 1G
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  redis:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  mailhog:
    profiles:
      - dev-only
